* {
    padding: 0px;
    margin: 0px;
    /* scrollbar-width: thin;
    scrollbar-color: blue rgba(255, 166, 0, 0); */
    box-sizing: border-box;

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(81, 81, 81);
    border-radius: 20px;
    border: 3px solid rgba(255, 166, 0, 0);
}

/* Body */
body {
    background-color: rgb(55, 59, 112);
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 10px;
    transform: translateX(-50%);
    left: 50%;
    width: 97vw;
    padding: 40px 4%;
    position: fixed;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 30px;
}

header ul li a {
    color: aliceblue;
    text-decoration: none;
}

header ul li a:hover {
    color: rgb(0, 55, 104);
}

header img {
    max-height: 35px;
    border-radius: 50%;
}

.bcl {
    background-color: rgba(0, 0, 0, 0.563);
}

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.corpag {
    color: rgb(0, 221, 255);
}

/* Footer */
footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    font-size: 0.9rem;
    /* margin-top: 20px; */
    width: 100%;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: aqua;
}

a:hover {
    color: rgb(0, 171, 171);
    text-decoration: underline;
}

a:active {
    color: pink;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav a:active {
    color: #393939;
}

.main {
    /* margin-left: 200px; */
    /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.div1 {
    margin-top: 15px;
    min-width: 50px;
    min-height: 50px;
    color: aliceblue;
    background-color: #000000ad;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidenav h2 {
    color: #fff;
    text-align: center;
}

.sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
}

.sidenav a:hover {
    background-color: #555;
}

.content {
    margin-left: 250px;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.divex {
    padding: 5px;
    margin: 10px auto;
    width: 90%;
    min-height: 50px;
    background-color: #ffffffc7;
    justify-content: center;
    color: #111;
    align-items: center;
    display: block;
    border-radius: 10px;
}
.divex a{
    color: #7c0909;
}
.divex a:hover{
    color: #c10303;
    font-size: 1.1rem;
}
.classex {
    color: rgb(0, 0, 0);
}

b {
    color: rgb(15, 44, 188);
}

ul, ol {
    margin-left: 20px;
}